<div class="mat-loading-wrapper">
    <mat-progress-bar *ngIf="loading$ | async" mode="indeterminate">
    </mat-progress-bar>
</div>
<div class="mat-elevation-z1">
    <div fxLayoutAlign="end center" class="p-2" fxLayoutGap="8px">
        <button mat-raised-button color="primary" (click)="create()">Tạo danh mục câu hỏi</button>
    </div>

    <ag-grid-angular style="width: 100%; height: 500px;" class="ag-theme-material" [gridOptions]="gridOptions"
        [rowData]="models$ | async">
    </ag-grid-angular>
    <mat-paginator >
    </mat-paginator>
</div>