@import '~@angular/material/theming';
@include mat-core();

$custom-primary-color:  (
    50 : #e8eaf6,
    100 : #c5cbe9,
    200 : #9fa8da,
    300 : #7985cb,
    400 : #5c6bc0,
    500 : #3f51b5,
    600 : #394aae,
    700 : #3140a5,
    800 : #29379d,
    900 : #1b278d,
    A100 : #c6cbff,
    A200 : #939dff,
    A400 : #606eff,
    A700 : #4757ff,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #ffffff,
        A700 : #ffffff,
    )
);

$app-primary: mat-palette($custom-primary-color);
$app-accent:  mat-palette($mat-teal);
$app-warn:    mat-palette($mat-deep-orange);

$app-theme: mat-light-theme($app-primary, $app-accent, $app-warn);

$main-color: $app-primary;


@include angular-material-theme($app-theme);
.mat-button-active {
    button {
        background: #ffffff !important;
        color: #000000 !important;
    }
}

.secondary-bg-color {
    background-color: mat-color($main-color, 600, 1);
    color: mat-color($main-color, 50, 1);
}
